# Build Results
/HomeFridgeDotNet/bin/
/HomeFridgeDotNet/obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.log
*.tmp
*.txt

# Antigravity setting
homefridgedotnet.code-workspace
GEMINI.md
.brain



# Personal
Data